body {
  background-color: var(--backgroundBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-section,
.register-section {
  height: auto;
  width: 480px;
  padding: 40px 20px;
  border-radius: 5px;
  background-color: var(--backgroundWhite);
}

.login-section-title,
.register-section-title {
  text-align: center;
}

.login-section-content,
.register-section-content {
  margin: 20px 0px;
}

.form-login,
.form-register {
  margin: 40px 0px;
}

.form-login > div,
.form-register > div {
  margin: 10px 0px;
}

.form-login > div:last-child,
.form-register > div:last-child {
  margin-top: 20px;
  text-align: center;
}

input {
  height: 20px;
  border: none;
}

.form-login > div > input,
.form-register > div > input {
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

.register-account,.login-account {
  text-align: center;
}

.btn-login,
.btn-register {
  margin-top: 10px;
  padding: 10px 20px;
}
