* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#menu > li {
  float: left;
  position: relative;
}

#menu > li > ul.dropdown-menu {
  position: absolute;
  list-style: none;
  display: none;
}

#menu > li:hover > ul.dropdown-menu {
  display: block;
  background-color: gray;
  width: 110%;
  z-index: 100;
}

ul.dropdown-menu > li > ul.submenu {
  position: absolute;
  display: none;
  list-style: none;
  left: 100%;
}

ul.dropdown_menu > li {
  position: relative;
}

ul.dropdown-menu > li:hover > ul.submenu {
  z-index: 100;
  display: block;
  background-color: gray;
  width: 110%;
}

.arrow {
  display: inline-block;
  color: black;
}

.arrow-down {
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
}

.arrow-right {
  margin-left: 2px;
  border-left: 5px solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

header {
  background: antiquewhite;
  position: fixed;
  width: 100%;
}

footer {
  background-color: #505050;
  padding-top: 20px;
  padding-bottom: 60px;
}

p {
  color: grey;
}

p.title-content {
  color: dimgray;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.logo-facebook {
  color: black;
}

.logo-facebook:hover {
  color: white;
}

.logo-linkedin {
  color: black;
}

.logo-linkedin:hover {
  color: white;
}

.menu {
  padding-top: 20px;
}

.menu > ul > li {
  list-style: none;
  margin-left: 50px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.menu ul li a:hover {
  color: white;
}

.visit {
  padding-top: 20px;
}

.visit a {
  margin-left: 10px;
  text-decoration: none;
}

.introduce-section {
  background-color: antiquewhite;
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-introduce {
  margin-top: 40px;
  margin-bottom: 40px;
}
.content-introduce-1 {
  width: 40%;
}

.content-introduce-2 {
  width: 60%;
  display: flex;
  justify-content: center;
}

.content-introduce-2 > div {
  margin-left: 10px;
  margin-right: 10px;
}

.content-introduce-2 > div img {
  display: block;
}

.content-introduce {
  display: flex;
  justify-content: space-between;
}

.btn-introduce {
  display: flex;
  justify-content: flex-start;
}

.table-introduce-1 {
  background: white;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.table-introduce-1-logo {
  padding-top: 20px;
}

.table-introduce-1 > a {
  text-decoration: none;
  color: orange;
}

.table-introduce-1 > a:hover {
  color: black;
}

.homepage-f {
  color: orange;
}
.homepage-f:hover {
  text-decoration: none;
  color: black;
}
.homepage-fd {
  color: orange;
}
.homepage-fd:hover {
  text-decoration: none;
  color: black;
}

.top-features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title-top-features {
  text-align: center;
}

.title-top-features .title1-title-top-features {
  color: grey;
}

.content-top-features {
  display: flex;
  justify-content: space-around;
}

.content-top-features > div {
  width: 32%;
}

.content-top-features-content {
  display: flex;
}

.content-top-features-content-logo {
  margin-left: 5px;
  margin-right: 5px;
}

.grocery-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.grocery-section-content {
  display: flex;
  justify-content: space-between;
}
.grocery-section-1 {
  width: 50%;
  text-align: center;
}
.grocery-section-2 {
  width: 50%;
}

.grocery-section-2-content {
  display: flex;
  justify-content: space-around;
}

.grocery-section-2-content-content {
  width: 32%;
}

.food-delivery-app-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: antiquewhite;
}

.food-delivery-app-section-content {
  display: flex;
}

.food-delivery-app-section-1 {
  width: 50%;
  text-align: center;
}

.food-delivery-app-section-2 {
  width: 50%;
}

.btn-food-delivery-app-section-2 {
  display: flex;
  justify-content: flex-start;
}

.btn-food-delivery-app-section-2 > button {
  margin: 10px;
}

.integrated-payment-gateways-section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.integrated-payment-gateways-section-title {
  text-align: center;
  font-weight: bold;
}

.integrated-payment-gateways-section-content-content {
  display: flex;
  text-align: center;
}

.integrated-payment-gateways-section-content-content > div {
  width: 16.66666%;
}

.integrated-sms-gateways-section {
  padding-top: 100px;
  padding-bottom: 60px;
}

.integrated-sms-gateways-section-title {
  text-align: center;
  font-weight: bold;
}

.integrated-sms-gateways-section-content-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-section-1 {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  width: 40%;
  font-weight: bold;
  color: white;
}

.btn {
  margin: 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.btn-green {
  background-color: green;
}

.btn-orange {
  background-color: orange;
}

.btn-blue {
  background-color: blue;
}

.btn-red {
  background-color: #993300;
}

.btn-aqua {
  background-color: #6666ff;
}

.btn-brown {
  background-color: #cc3300;
}

.btn:hover {
  color: black;
  cursor: pointer;
}

.btn-footer {
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: orange;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.btn-footer:hover {
  color: black;
}

.footer-section-2 {
  display: flex;
  justify-content: space-between;
}

.footer-section-2-content {
  width: 20%;
}

footer p {
  color: white;
  font-size: 12px;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin: 10px 0px 10px 0px;
}

footer a:hover {
  text-decoration: none;
  color: black;
}
