:root{
    --backgroundBlack: rgba(0, 0, 0, 0.164);
    --borderGray: gray;
    --backgroundWhite: white;
    --btnGreen: green;
    --btnRed: red;
    --selectPage: gray;
    --notSelectPage: black;
}