<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bai3</title>
    <link rel="stylesheet" href="public/stylesheet/variable.css" />
    <link rel="stylesheet" href="public/stylesheet/common.css" />
    <link rel="stylesheet" href="public/stylesheet/todo.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="customer-detail-section" id="customer-detail-section">
      <div class="container">
        <div class="customer-detail-section-title">
          <div class="title-customer-detail col-des-6">
            Customer <b>Details</b>
          </div>
          <div class="search-customer-detail col-des-6">
            <button
              id="btn-add-new-user"
              class="btn btn-green btn-insert-user"
            >+</button>
            <button
              id="btn-delete-all-users"
              type="button"
              class="btn btn-red btn-delete-all-users"
            >
              Delete Users
            </button>
            <input
              type="search"
              class="ip-search"
              id="ip_search"
              placeholder="Search..."
            />
          </div>
        </div>
        <div class="customer-detail-section-content" id="posts-customer-detail">
          <table class="list" id="storeList">
            <thead>
              <tr>
                <th><input type="checkbox" id="id_select_all_users" /></th>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="page-pagination-section">
          <div class="pageselectors col-des-3" id="page_selectors">
            <select name="row-select" id="ip_row_select">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
            <div id="show-total-country"></div>
          </div>
          <div class="pagenumbers col-des-2" id="page_numbers"></div>
        </div>
      </div>
    </div>
    <div class="pop-up-form" id="pop-up-form">
      <div class="customer-add-section-title">
        <div class="title-add-user col-des-6">
          <h1 class="col-des-8">Contact Form</h1>
          <input
            type="number"
            id="index_add_user"
            class="col-des-2"
            style="text-align: center"
          />
        </div>
        <div class="exit-button col-des-6">
          <a id="btn-exit">
            <svg
              style="color: white"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                fill="#646464"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="content-add-user col-des-12">
        <form class="form-add-user" id="form_add_user">
          <input type="hidden" id="ip_user_id" name="id" />
          <div>
          <label for="userName">Username</label>
                <input
                  type="text"
                  id="ip_user_name"
                  class="col-des-12"
                  name="userName"
                  placeholder="Type your username"
                />
              </div>
              <div>
                <label for="passWord">Password</label>
                <input
                  type="password"
                  id="ip_password"
                  class="col-des-12"
                  name="passWord"
                  placeholder="Type your password"
                />
              </div>
              <div>
                <label for="email">Email</label>
                <input
                  type="email"
                  id="ip_email"
                  class="col-des-12"
                  name="email"
                  placeholder="Type your email"
                />
              </div>
              <div>
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  id="ip_firstname"
                  class="col-des-12"
                  name="firstName"
                  placeholder="Type your firstname"
                />
              </div>
              <div>
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  id="ip_lastname"
                  class="col-des-12"
                  name="lastName"
                  placeholder="Type your lastname"
                />
              </div>
              <div>
                <label for="country">Country</label>
                <input
                  type="text"
                  id="ip_country"
                  class="col-des-12"
                  name="country"
                  placeholder="Type your country"
                />
              </div>
          <div class="msg-add-user" id="msg_add_user"></div>
          <div class="form_action-buton">
            <input
              type="button"
              id="btn-close"
              class="btn col-des-2"
              value="Close"
            />
            <input
              type="submit"
              id="submit"
              class="btn btn-green col-des-2"
              value="Submit"
            />
          </div>
        </form>
      </div>
    </div>

    <script src="/public/script/variables.js"></script>
    <script src="/public/script/utils.js"></script>
    <script src="/public/script/service.js"></script>
    <script src="/public/script/main.js"></script>
  </body>
</html>
