:root{
  --backgroundBlackOverlay: rgba(0, 0, 0, 0.274);
  --backgroundBlack: rgba(0, 0, 0, 0.164);
  --borderGray: gray;
  --backgroundWhite: white;
  --btnGreen: green;
  --btnRed: red;
  --selectPage: #F5F5F5;
  --notSelectPage: black;
  --Grey: gray;
  --Red: red;
  --Green: green; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
